[Desktop Entry]
Name=Reddit
Exec=chromium --app=https://www.reddit.com/
Icon=~/.local/share/icons/reddit-icon.png
Terminal=false
Type=Application
Categories=Web;Internet;
